<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  <!--Mapper 파일 인식  -->

<mapper namespace="MemberMapper">
<!--회원가입 쿼리문    Member 테이블-->
	<insert id="joinMember" parameterType="com.choa.member.MemberDTO" >
		insert into member values(#{id}, #{pw}, #{name}, #{age}, #{grade}, #{filename}, #{oriname})
	</insert>
	
</mapper>