<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  <!--Mapper 파일 인식  -->

<mapper namespace="TeacherMapper">
	<insert id="joinMember" parameterType="com.choa.member.teacher.TeacherDTO">
		insert into member values(#{id}, #{pw}, #{name}, #{age}, #{grade}, #{filename}, #{oriname})
	</insert>
	
	<insert id="joinTeacher" parameterType="com.choa.member.teacher.TeacherDTO">
		insert into teacher values(#{id}, #{subject}, sysdate)
	</insert>
	
	<!-- 마이페이지  -->
	<select id="memberPage" parameterType="java.lang.String" resultType="com.choa.member.teacher.TeacherDTO">
		select * from teacher where tid = #{id}
	</select>
	
		<!-- 로그인  -->
	<select id="memberLogin" parameterType="com.choa.member.MemberDTO" resultType="com.choa.member.teacher.TeacherDTO">
		select M.*, T.* from member M, teacher T where M.id = T.tid and M.id = #{id} and M.pw = #{pw}
	</select>	
	
</mapper>